In [146]:
import pandas as pd
df = pd.read_csv('News_Article_2016_Jan.csv')

In [147]:
import nltk
from nltk import FreqDist
from nltk.corpus import stopwords

In [148]:
df

,Day,Name,Year,month,Content
0,21,3D SYSTEMS,2016,January,Plastics ...
1,11,3D SYSTEMS,2016,January,US Officia...
2,12,3D SYSTEMS,2016,January,Progressive Media ...
3,1,3D SYSTEMS,2016,January,Stock Wat...
4,18,3D SYSTEMS,2016,January,India Automobi...
...,...,...,...,...,...
19644,16,GOOGLE,2016,January,The Times of In...
19645,23,GOOGLE,2016,January,National Post's Financial Post...
19646,30,GOOGLE,2016,January,Stock Wat...
19647,1,GOOGLE,2016,January,Zee Ne...
19648,23,GOOGLE,2016,January,The Journal (Newc...

In [149]:
df["Name"].value_counts().head(20)

NETFLIX                     123
HNI                         106
HAWKINS                      98
AMERICAN INTERNATIONAL       88
GRIFFON                      84
HCP                          78
GUESS                        76
FTI CONSULTING               76
MATTEL                       75
TWENTY-FIRST CENTURY FOX     74
GREEN DOT                    72
GRACO                        71
GREENHILL & CO               70
UNDER ARMOUR                 68
HEALTHCARE SERVICES          68
HUNTINGTON BANCSHARES        68
TIFFANY                      65
HASBRO                       64
CHIPOTLE MEXICAN GRILL       63
ANTHEM                       62
Name: Name, dtype: int64

## Name each week

In [150]:
week1=list(range(1,8))
week2=list(range(8,15))
week3=list(range(15,22))
week4=list(range(22,29))

## Identify When 'Mattel' appears during each week

## Mattel Week 1

In [151]:
Mattel_week1 = df[df['Day'].isin(week1) & (df['Name']== 'MATTEL')]

In [152]:
content_list_week1 = Mattel_week1['Content']
raw = ' '.join(content_list_week1)

In [153]:
content_list_week1

10212                                        US Officia...
10230                                        The Austra...
Name: Content, dtype: object

In [154]:
tokens = nltk.word_tokenize(raw)

mystopwords = stopwords.words('english')
words = [w.lower() for w in tokens if w.isalpha() if w.lower()not in mystopwords]

porter = nltk.PorterStemmer()
stem1 = [porter.stem(w) for w in words]

#Encode with utf-8
stem1 = [w for w in stem1]

#Get the frequency distribution 
freq1 = FreqDist(stem1)
#Sort the result
sorted_freq1 = sorted(freq1.items(),key = lambda k: k[1], reverse = True)

In [155]:
mattel_week1_top10 = [i[0] for i in sorted_freq1][:10]
print ("Mattel Week 1 Top 10 words")
mattel_week1_top10

Mattel Week 1 Top 10 words

['fund',
 'great',
 'white',
 'children',
 'fuhu',
 'januari',
 'shark',
 'tablet',
 'norman',
 'offer']

## Mattel Week 2

In [156]:
Mattel_week2 = df[df['Day'].isin(week2) & (df['Name']== 'MATTEL')]
content_list_week2 = Mattel_week2['Content']
raw2 = ' '.join(content_list_week2)

In [157]:
tokens = nltk.word_tokenize(raw2)

mystopwords = stopwords.words('english')
words = [w.lower() for w in tokens if w.isalpha() if w.lower()not in mystopwords]

porter = nltk.PorterStemmer()
stem2 = [porter.stem(w) for w in words]

#Encode with utf-8
stem2 = [w for w in stem2]

#Get the frequency distribution 
freq2 = FreqDist(stem2)
#Sort the result
sorted_freq2 = sorted(freq2.items(),key = lambda k: k[1], reverse = True)

In [179]:
mattel_week2_top10 = [i[0] for i in sorted_freq2][:10]
print ("Mattel Week 2 Top 10 words")
mattel_week2_top10

Mattel Week 2 Top 10 words

['mattel',
 'play',
 'liverpool',
 'barbi',
 'attract',
 'januari',
 'toy',
 'children',
 'open',
 'section']

## Mattel Week 3

In [159]:
Mattel_week3 = df[df['Day'].isin(week3) & (df['Name']== 'MATTEL')]
content_list_week3 = Mattel_week3['Content']
raw3 = ' '.join(content_list_week3)

In [161]:
tokens = nltk.word_tokenize(raw3)

mystopwords = stopwords.words('english')
words = [w.lower() for w in tokens if w.isalpha() if w.lower()not in mystopwords]

porter = nltk.PorterStemmer()
stem3 = [porter.stem(w) for w in words]

#Encode with utf-8
stem3 = [w for w in stem3]

#Get the frequency distribution 
freq3 = FreqDist(stem3)
#Sort the result
sorted_freq3 = sorted(freq3.items(),key = lambda k: k[1], reverse = True)

In [180]:
mattel_week3_top10 = [i[0] for i in sorted_freq3][:10]
print ("Mattel Week 3 Top 10 words")
mattel_week3_top10

Mattel Week 3 Top 10 words

['children',
 'mattel',
 'hospit',
 'beij',
 'barbi',
 'hacker',
 'foundat',
 'group',
 'banga',
 'doll']

## Mattel Week 4

In [163]:
Mattel_week4 = df[df['Day'].isin(week4) & (df['Name']== 'MATTEL')]
content_list_week4 = Mattel_week4['Content']
raw4 = ' '.join(content_list_week4)

In [164]:
tokens = nltk.word_tokenize(raw4)

mystopwords = stopwords.words('english')
words = [w.lower() for w in tokens if w.isalpha() if w.lower()not in mystopwords]

porter = nltk.PorterStemmer()
stem4 = [porter.stem(w) for w in words]

#Encode with utf-8
stem4 = [w for w in stem4]

#Get the frequency distribution 
freq4 = FreqDist(stem4)
#Sort the result
sorted_freq4 = sorted(freq4.items(),key = lambda k: k[1], reverse = True)

In [181]:
mattel_week4_top10 = [i[0] for i in sorted_freq4][:10]
print ("Mattel Week 4 Top 10 words")
mattel_week4_top10

Mattel Week 4 Top 10 words

['barbi',
 'doll',
 'mattel',
 'bodi',
 'new',
 'girl',
 'said',
 'januari',
 'world',
 'year']

## Identify When 'HASBRO' appears during each week

## Hasbro Week 1

In [166]:
Hasbro_week1 = df[df['Day'].isin(week1) & (df['Name']== 'HASBRO')]
content_list_week1H = Hasbro_week1['Content']
raw5 = ' '.join(content_list_week1H)

In [172]:
tokens = nltk.word_tokenize(raw5)

mystopwords = stopwords.words('english')
words = [w.lower() for w in tokens if w.isalpha() if w.lower()not in mystopwords]

porter = nltk.PorterStemmer()
stem5 = [porter.stem(w) for w in words]

#Encode with utf-8
stem5 = [w for w in stem5]

#Get the frequency distribution 
freq5 = FreqDist(stem5)
#Sort the result
sorted_freq5 = sorted(freq5.items(),key = lambda k: k[1], reverse = True)

In [182]:
HASBRO_week1_top10 = [i[0] for i in sorted_freq5][:10]
print ("Hasbro Week 1 Top 10 words")
HASBRO_week1_top10

Hasbro Week 1 Top 10 words

['rey',
 'star',
 'war',
 'game',
 'hasbro',
 'charact',
 'monopoli',
 'film',
 'fan',
 'awaken']

## Hasbro Week 2

In [174]:
Hasbro_week2 = df[df['Day'].isin(week2) & (df['Name']== 'HASBRO')]
content_list_week2H = Hasbro_week2['Content']
raw6 = ' '.join(content_list_week2H)

In [175]:
tokens = nltk.word_tokenize(raw6)

mystopwords = stopwords.words('english')
words = [w.lower() for w in tokens if w.isalpha() if w.lower()not in mystopwords]

porter = nltk.PorterStemmer()
stem6 = [porter.stem(w) for w in words]

#Encode with utf-8
stem6 = [w for w in stem6]

#Get the frequency distribution 
freq6 = FreqDist(stem6)
#Sort the result
sorted_freq6 = sorted(freq6.items(),key = lambda k: k[1], reverse = True)

In [183]:
HASBRO_week2_top10 = [i[0] for i in sorted_freq6][:10]
print ("Hasbro Week 2 Top 10 words")
HASBRO_week2_top10

Hasbro Week 2 Top 10 words

['rey',
 'hasbro',
 'star',
 'game',
 'war',
 'girl',
 'charact',
 'monopoli',
 'januari',
 'toy']

## Hasbro Week 3

In [178]:
Hasbro_week3 = df[df['Day'].isin(week3) & (df['Name']== 'HASBRO')]
content_list_week3H = Hasbro_week3['Content']
raw7 = ' '.join(content_list_week3H)

In [193]:
tokens = nltk.word_tokenize(raw7)

mystopwords = stopwords.words('english')
words = [w.lower() for w in tokens if w.isalpha() if w.lower()not in mystopwords]

porter = nltk.PorterStemmer()
stem7 = [porter.stem(w) for w in words]

#Encode with utf-8
stem7 = [w for w in stem7]

#Get the frequency distribution 
freq7 = FreqDist(stem7)
#Sort the result
sorted_freq7 = sorted(freq7.items(),key = lambda k: k[1], reverse = True)

In [194]:
HASBRO_week3_top10 = [i[0] for i in sorted_freq7][:10]
print ("Hasbro Week 3 Top 10 words")
HASBRO_week3_top10

Hasbro Week 3 Top 10 words

['rey',
 'toy',
 'disney',
 'charact',
 'merchandis',
 'said',
 'star',
 'war',
 'new',
 'movi']

## Hasbro Week 4

In [195]:
Hasbro_week4 = df[df['Day'].isin(week4) & (df['Name']== 'HASBRO')]
content_list_week4H = Hasbro_week4['Content']
raw8 = ' '.join(content_list_week4H)

In [197]:
tokens = nltk.word_tokenize(raw8)

mystopwords = stopwords.words('english')
words = [w.lower() for w in tokens if w.isalpha() if w.lower()not in mystopwords]

porter = nltk.PorterStemmer()
stem8 = [porter.stem(w) for w in words]

#Encode with utf-8
stem8 = [w for w in stem8]

#Get the frequency distribution 
freq8 = FreqDist(stem8)
#Sort the result
sorted_freq8 = sorted(freq8.items(),key = lambda k: k[1], reverse = True)

In [198]:
HASBRO_week4_top10 = [i[0] for i in sorted_freq8][:10]
print ("Hasbro Week 4 Top 10 words")
HASBRO_week4_top10

Hasbro Week 4 Top 10 words

['action',
 'toy',
 'man',
 'hasbro',
 'ccc',
 'januari',
 'palitoy',
 'bob',
 'compani',
 'girl']